{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Add Etudiant</title>
</head>

<body>
  <!---debut de navvvv-->
  <nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <p class="navbar-brand" href="#"> <H2>ECOLE SUPERIEUR POLYTECHNIQUE    </H2></p>
        </div>
        <div class="col-lg-6 text-right">
          <img src="{% static 'images/logo_0.jpg' %}" alt="image" class="img-fluid w-100">
        </div>
      </div>
    </div>
  </nav>
  <!---fin de navvvv--->
  <div class="container">
    <h1 class="my-4">Add New Etudiants</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" required>
      </div>
      <div class="mb-3">
        <label for="prenom" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" required>
      </div>
      <div class="mb-3">
        <label for="date_naissance" class="form-label">Date de naissance</label>
        <input type="date" class="form-control" id="date_naissance" name="date_naissance" required>
      </div>
      <div class="mb-3">
        <label for="lieu_naissance" class="form-label">Lieu de naissance</label>
        <input type="text" class="form-control" id="lieu_naissance" name="lieu_naissance" required>
      </div>
      <div class="mb-3">
        <label for="pays_naissance" class="form-label">Pays de naissance</label>
        <input type="text" class="form-control" id="pays_naissance" name="pays_naissance" required>
      </div>
      <div class="mb-3">
        <label for="departement" class="form-label">Département</label>
        <input type="text" class="form-control" id="departement" name="departement" required>
      </div>
      <div class="mb-3">
        <label for="voie_acces" class="form-label">Voie d'accès</label>
        <select class="form-control" id="voie_acces" name="voie_acces" required>
          <option value="">Choisir une voie d'accès</option>
          <option value="voie1">Voie 1</option>
          <option value="voie2">Voie 2</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="matricule" class="form-label">Matricule</label>
        <input type="text" class="form-control" id="matricule" name="matricule" required>
      </div>
      <div class="mb-3">
        <label for="nationalite" class="form-label">Nationalité</label>
        <input type="text" class="form-control" id="nationalite" name="nationalite" required>
      </div>
      <div class="mb-3">
        <label for="nni" class="form-label">NNI</label>
        <input type="text" class="form-control" id="nni" name="nni" required>
      </div>
      <div class="mb-3">
        <label for="statut" class="form-label">Statut</label>
        <select class="form-control" id="statut" name="statut" required>
          <option value="">Choisir un statut</option>
          <option value="Normale">Normale</option>
          <option value="diplômé">Diplômé</option>
          <option value="Renvoyé">Renvoyé</option>
          <option value="Double diplôme">Double diplôme</option>
          <option value="Échange">Échange</option>
          <option value="Césure">Césure</option>
          <option value="Abandonné">Abandonné</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="annee_inscription" class="form-label">Année d'inscription</label>
        <input type="number" class="form-control" id="annee_inscription" name="annee_inscription" required>
      </div>
      <button  type="submit" class="btn btn-primary mb-3">Submit</button>
      
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
