<!DOCTYPE html>
<html>

<head>
  <title>enseignements</title>
  <meta charset="utf-8">


  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css" />

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"><!-- datatable-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script><!-- datatable-->
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script><!-- datatable-->
  <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }

    h5 {
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 6px 2px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      width: 12%;
    }

    body {
      background-color: #eff5f5;
    }
  </style>
  <div class="table-responsive">

    <link href="static/img/favicon.ico" rel="icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.22/datatables.min.css" />
</head>

<body>

  <br>
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <span><a href="/home" class="btn btn-primary">AJOUTER</a></span> <br>
        <br>

        <table id="example" class="table table-striped table-bordered">

          <thead>
            <tr>

              <th>Nom_EM </th>
              <th>Prenom et Nom</th>

              <th>Type </th>
              <TH>Plage</TH>

              <th>Semestre</th>
              <th>Duree</th>
              <td> <b>Actions</b> </td>
            </tr>
          </thead>
          <tbody>
            {% for row in loq %}
            <tr>

              <td>{{row.1}}</td>
              <td>{{row.2}}</td>
              <td>{{row.3}}</td>
              <td>{{row.4}}</td>
              <td>{{row.5}}</td>
              <td>{{row.6}}</td>




              <td align="center">
                <a href="/update_rec/{{row.0}}" class="btn btn-primary">Modifier</a>
                <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs  onclick=" return confirm(" etes vs sur de
                  supprimer ")">Supprimer</a>

              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>

        <script>$(document).ready(function () {
            $('#example').DataTable();
          });
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>



        <!-- JavaScript Libraries -->
        <!--        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="static/lib/easing/easing.min.js"></script>
        <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="static/lib/waypoints/waypoints.min.js"></script>
        <script src="static/lib/counterup/counterup.min.js"></script>
        <script src="static/lib/parallax/parallax.min.js"></script>

        <!-- Contact Javascript File -->
        <script src="static/mail/jqBootstrapValidation.min.js"></script>
        <script src="static/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="static/js2/main.js"></script>
        </table>


      </div>
</body>

</html>